<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs465.groceryrun.groceryrun" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name=".Sign_in"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sign_up" />
        <activity android:name=".Confirm_Email" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Settings" />
        <activity android:name=".ContactUs" />
        <activity android:name=".Profile" />
        <activity android:name=".Transactions" />
        <activity android:name=".Requester" />
        <activity android:name=".ConfirmTransaction" />
        <activity android:name=".FilterTransaction" />
        <activity android:name=".ViewTransaction" />
        <activity android:name=".Deliverer" />
        <activity android:name=".ProfileEdit" />
        <activity android:name=".MyPostings" >
        </activity>
        <activity android:name=".SearchRequests" >
        </activity>
        <activity android:name=".PostAvailability" >
        </activity>
        <activity android:name=".SearchAvailabilities" >
        </activity>
        <activity android:name=".AvailabilityInfo" >
        </activity>
        <activity android:name=".Ratings" >
        </activity>
        <activity android:name=".CreateRequest" >
        </activity>
        <activity android:name=".Chat" >
        </activity>
        <activity android:name=".FilterAvailability" >
        </activity>
        <activity android:name=".PostRequest" >
        </activity>
        <activity android:name=".ViewRequest" >
        </activity>
    </application>

</manifest>
